Source: gooroom-os-protector
Section: admin
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9), dkms, nasm, python,
               linux-image-4.19.0-12-amd64,
               linux-headers-4.19.0-12-amd64
Standards-Version: 3.9.6
Homepage: http://www.gooroom.kr
Vcs-Git: https://github.com/gooroom/gooroom-os-protector.git
Vcs-Browser: https://github.com/gooroom/gooroom-os-protector

Package: gooroom-os-protector
Architecture: amd64
Depends: linux-image-4.19.0-12-amd64 (= 4.19.152-1+grm2u2)
Description: Gooroom OS Protector
 Gooroom OS Protector protects the Gooroom kernel and drivers.
 It supports Gooroom kernel version from 3.x.x to 4.x.x.
