#!/usr/bin/make -f

export DEB_CFLAGS_SET=-O2

DHFLAGS=--parallel

UNAME_R=5.9.0-0.bpo.2-amd64
UNAME_V=\#1 SMP gooroom 5.9.6-1~bpo10+1+grm2u1 (2020-12-24)

%:
	dh $@ --with dkms $(DHFLAGS)

override_dh_auto_clean:
	dh_auto_clean

	sed -i -e 's@`uname -r`@${UNAME_R}@g' $(CURDIR)/Source/Makefile
	sed -i -e 's@`uname -v`@${UNAME_V}@g' $(CURDIR)/Source/Makefile
	sed -i -e 's@KVERSION =.*@KVERSION = ${UNAME_R}@g' $(CURDIR)/Source/shadow_box/Makefile
	sed -i -e 's@KVERSION =.*@KVERSION = ${UNAME_R}@g' $(CURDIR)/Source/shadow_box_helper/Makefile

override_dh_auto_configure:
	dh_auto_configure

	sed -i -e 's@`uname -r`@${UNAME_R}@g' $(CURDIR)/Source/Makefile
	sed -i -e 's@`uname -v`@${UNAME_V}@g' $(CURDIR)/Source/Makefile
	sed -i -e 's@KVERSION =.*@KVERSION = ${UNAME_R}@g' $(CURDIR)/Source/shadow_box/Makefile
	sed -i -e 's@KVERSION =.*@KVERSION = ${UNAME_R}@g' $(CURDIR)/Source/shadow_box_helper/Makefile

override_dh_install:
	make -C Source
	dh_install --fail-missing

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

override_dh_clean:
	make -C Source clean
	dh_clean

override_dh_usrlocal:
	# remove this override when there aren't
	# anymore files in /usr/local
